body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  /* Soft greenish background */
  color: #333333;
  margin: 10px;
  padding: 10px;
}

h3 {
  color: #2a9d8f;
  /* Calming green for headings */
}

#field-selectors label {
  display: block;
  margin-bottom: 5px;
}

#field-selectors input[type="checkbox"] {
  margin-right: 5px;
}

.section {
  border: 1px solid #8ab6d6;
  /* Soft blue for borders */
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #e9f1f3;
  /* Light blue background for sections */
}

.button {
  background-color: #264653;
  /* Darker blue for buttons */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

form#control-row {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #2a9d8f;
}

span#message {
  display: block;
  margin-top: 10px;
  color: red;
}

#cookie-changes {
  margin-top: 20px;
}

#cookie-changes h3 {
  margin-bottom: 10px;
}

ul#changes-list {
  list-style-type: none;
  padding: 0;
}

ul#changes-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
}

/* The switch - the box around the slider */
.toggle-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

/* Hide default HTML checkbox */
.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-switch-label::after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch-checkbox:checked+.toggle-switch-label::after {
  transform: translateX(26px);
}

.toggle-switch-checkbox:focus+.toggle-switch-label {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-switch-checkbox:checked+.toggle-switch-label {
  background-color: #2196F3;
}

/* Adding text to the switch */
.toggle-switch-label::before {
  content: 'OFF';
  position: absolute;
  right: 5px;
  line-height: 34px;
  /* Vertically center the text */
  color: #fff;
  transition: 0.4s;
}

.toggle-switch-checkbox:checked+.toggle-switch-label::before {
  content: 'ON';
  left: 5px;
  right: auto;
  color: #fff;
}


#cookies-list, #security-issues-list, #changes-list {
  list-style: none;
  padding: 0;
}

#cookies-list li, #security-issues-list li, #changes-list li {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #8ab6d6;
}